<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Glitz Jewellery Boutique - Account Verification</title>
<style>
    body {
        font-family: Arial, sans-serif;
        max-width: 700px;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
        color: #333;
    }
    .main{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 4px solid #9A0056; /* Your special color */
    }
    .container {
        max-width: 600px;
        margin: 20px auto;
        padding: 10px;
        background-color: #fff;
    }
    .logo {
        text-align: center;
        margin-bottom: 20px;
    }
    .logo img {
        max-width: 150px;
    }
    .header {
        background-color: #9A0056; /* Your special color */
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: -4px; /* Remove gap between border and header */
    }
    .header h2 {
        margin: 0;
        color: #fff;
        padding: 10px 0; /* Add padding to the h2 directly */
    }
    h1 {
        text-align: center;
        color: #9A0056; /* Your special color */
    }
    p {
        line-height: 1.6;
        margin-bottom: 20px;
    }
    .otp {
        padding: 10px 20px;
        color: #fff;
        background-color: #9A0056; /* Your special color */
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .contact h5 {
    color: #9A0056; /* Your special color */
    line-height: 0.5;
    }
    .footer {
        text-align: center;
        margin-top: 20px;
        color: #666;
        font-size: 12px;
    }
</style>
</head>

<body>
    <div class="main">
        <div class="header">
            <h2>Glitz Jewellery Boutique</h2>
        </div>
        <div class="container">
            <div class="logo">
                <img src="https://glitzjewellery.com/cdn/shop/files/glitz_logo_black_320x.png?v=1665889126"
                    alt="Glitz Jewellery Boutique" alt="Glitz Jewellery Boutique">
            </div>
            <h1>Welcome to Glitz Jewellery Boutique!</h1>
            <p>Dear <strong>${firstname} ${lastname}</strong>,</p>
            <p>Thank you for registering with <strong>Glitz Jewellery Boutique</strong>! To complete the registration
                process, please enter the following One-Time Password (OTP) in the provided field:</p>
            <div class="otp">
                <strong>OTP:</strong> ${otp}
            </div>
            <p>This OTP is valid for a single use and will expire shortly. Please do not share this OTP with anyone for
                security reasons.</p>

            <p>In case you missed or closed the verification page, you can access it again by clicking <a
                    href=http://localhost:3000/verify-account?id=${_id}> <b> here.<a></b></p>

            <p>If you did not request this registration or if you have any questions, please contact our support team
                immediately.</p>
            <p>Thank you,</p><br>
            <div class="contact">
                <h5><strong>Glitz Jewellery Team</strong></h5>
                <h5><strong>+91 9633699766</strong></h5>
                <img src="https://glitzjewellery.com/cdn/shop/files/glitz_logo_black_320x.png?v=1665889126" width="25%"
                    alt="Glitz Jewellery Boutique" alt="Glitz Jewellery Boutique">
            </div>
        </div>
    </div>
    <div class="footer">
        <p>This email was sent from Glitz Jewellery Boutique. If you have any questions or concerns, please don't
            hesitate to contact us.</p>
    </div>
</body>

</html>