<!-- branding area starts -->
<div class="tm-section tm-brandlogo-area tm-padding-section bg-grey">
    <div class="container">
        <div class="row tm-brandlogo-slider">
            <div class="col-12 tm-brandlogo">
                <a href="#">
                    <img src="assets/images/brandImages/brandlogo-1.png" alt="brand-logo">
                </a>
            </div>
            <div class="col-12 tm-brandlogo">
                <a href="#">
                    <img src="assets/images/brandImages/brandlogo-2.png" alt="brand-logo">
                </a>
            </div>
            <div class="col-12 tm-brandlogo">
                <a href="#">
                    <img src="assets/images/brandImages/brandlogo-3.png" alt="brand-logo">
                </a>
            </div>
            <div class="col-12 tm-brandlogo">
                <a href="#">
                    <img src="assets/images/brandImages/brandlogo-4.png" alt="brand-logo">
                </a>
            </div>
            <div class="col-12 tm-brandlogo">
                <a href="#">
                    <img src="assets/images/brandImages/brandlogo-5.png" alt="brand-logo">
                </a>
            </div>
            <div class="col-12 tm-brandlogo">
                <a href="#">
                    <img src="assets/images/brandImages/brandlogo-1.png" alt="brand-logo">
                </a>
            </div>
            <div class="col-12 tm-brandlogo">
                <a href="#">
                    <img src="assets/images/brandImages/brandlogo-2.png" alt="brand-logo">
                </a>
            </div>
            <div class="col-12 tm-brandlogo">
                <a href="#">
                    <img src="assets/images/brandImages/brandlogo-3.png" alt="brand-logo">
                </a>
            </div>
            <div class="col-12 tm-brandlogo">
                <a href="#">
                    <img src="assets/images/brandImages/brandlogo-4.png" alt="brand-logo">
                </a>
            </div>
            <div class="col-12 tm-brandlogo">
                <a href="#">
                    <img src="assets/images/brandImages/brandlogo-5.png" alt="brand-logo">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- branding area ends -->