<!-- blogs area starts -->
<div id="tm-news-area" class="tm-section tm-blog-area tm-padding-section bg-pattern-transparent">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12">
                <div class="tm-sectiontitle text-center">
                    <h3>LATEST BLOGS</h3>
                    <p>A blog is a discussion or informational website published on the World Wide Web
                        consisting of discrete</p>
                </div>
            </div>
        </div>
        <div class="row tm-blog-slider">
            <div class="col-lg-4 col-md-6">
                <div class="tm-blog tm-scrollanim">
                    <div class="tm-blog-topside">
                        <div class="tm-blog-thumb">
                            <img src="assets/images/blog/blog-image-1.jpg" alt="blog image">
                        </div>
                        <span class="tm-blog-metahighlight"><span>Apr</span>17</span>
                    </div>
                    <div class="tm-blog-content">
                        <h6 class="tm-blog-title"><a href="blog-details.html">Woman wearing gold-colore ring
                                pendant necklaces</a></h6>
                        <ul class="tm-blog-meta">
                            <li><a href="blog.html"><i class="ion-android-person"></i> Anderson</a></li>
                            <li><a href="blog-details.html"><i class="ion-chatbubbles"></i> 3 Comments</a>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incdidunt ut labore et dolore magna aliqua [....]</p>
                        <a href="blog-details.html" class="tm-readmore">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tm-blog tm-scrollanim">
                    <div class="tm-blog-topside">
                        <div class="tm-blog-thumb">
                            <img src="assets/images/blog/blog-image-2.jpg" alt="blog image">
                        </div>
                        <span class="tm-blog-metahighlight"><span>Apr</span>17</span>
                    </div>
                    <div class="tm-blog-content">
                        <h6 class="tm-blog-title"><a href="blog-details.html">Shallow focus photo of person
                                putting gold-colored ring</a></h6>
                        <ul class="tm-blog-meta">
                            <li><a href="blog.html"><i class="ion-android-person"></i> Anderson</a></li>
                            <li><a href="blog-details.html"><i class="ion-chatbubbles"></i> 3 Comments</a>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incdidunt ut labore et dolore magna aliqua [....]</p>
                        <a href="blog-details.html" class="tm-readmore">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tm-blog tm-scrollanim">
                    <div class="tm-blog-topside">
                        <div class="tm-blog-thumb">
                            <img src="assets/images/blog/blog-image-3.jpg" alt="blog image">
                        </div>
                        <span class="tm-blog-metahighlight"><span>Apr</span>17</span>
                    </div>
                    <div class="tm-blog-content">
                        <h6 class="tm-blog-title"><a href="blog-details.html">Silver-colored tiara rings
                                with clear
                                gemstones</a></h6>
                        <ul class="tm-blog-meta">
                            <li><a href="blog.html"><i class="ion-android-person"></i> Anderson</a></li>
                            <li><a href="blog-details.html"><i class="ion-chatbubbles"></i> 3 Comments</a>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incdidunt ut labore et dolore magna aliqua [....]</p>
                        <a href="blog-details.html" class="tm-readmore">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tm-blog tm-scrollanim">
                    <div class="tm-blog-topside">
                        <div class="tm-blog-thumb">
                            <img src="assets/images/blog/blog-image-4.jpg" alt="blog image">
                        </div>
                        <span class="tm-blog-metahighlight"><span>Apr</span>17</span>
                    </div>
                    <div class="tm-blog-content">
                        <h6 class="tm-blog-title"><a href="blog-details.html">Diamond ring is worn on top of
                                the
                                engagement band</a></h6>
                        <ul class="tm-blog-meta">
                            <li><a href="blog.html"><i class="ion-android-person"></i> Anderson</a></li>
                            <li><a href="blog-details.html"><i class="ion-chatbubbles"></i> 3 Comments</a>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incdidunt ut labore et dolore magna aliqua [....]</p>
                        <a href="blog-details.html" class="tm-readmore">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="tm-blog tm-scrollanim">
                    <div class="tm-blog-topside">
                        <div class="tm-blog-thumb">
                            <img src="assets/images/blog/blog-image-5.jpg" alt="blog image">
                        </div>
                        <span class="tm-blog-metahighlight"><span>Apr</span>17</span>
                    </div>
                    <div class="tm-blog-content">
                        <h6 class="tm-blog-title"><a href="blog-details.html">White gold engagement rings
                                for
                                couples</a></h6>
                        <ul class="tm-blog-meta">
                            <li><a href="blog.html"><i class="ion-android-person"></i> Anderson</a></li>
                            <li><a href="blog-details.html"><i class="ion-chatbubbles"></i> 3 Comments</a>
                            </li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incdidunt ut labore et dolore magna aliqua [....]</p>
                        <a href="blog-details.html" class="tm-readmore">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog area ends -->