<!-- popular products area starts             -->
<div id="tm-popular-products-area" class="tm-section tm-popular-products-area tm-padding-section bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12">
                <div class="tm-sectiontitle text-center">
                    <h3>POPULAR PRODUCTS</h3>
                    <p>Our popular products are so beautyful to see that the shoppers are easily attracted
                        to them.</p>
                </div>
            </div>
        </div>
        <div class="row tm-products-slider">
            <!-- product 1 -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tm-product tm-scrollanim">
                    <div class="tm-product-topside">
                        <div class="tm-product-images">
                            <img src="assets/images/products/FingerRing/frpdgen22373_1.jpg"
                                alt="product image">
                            <img src="assets/images/products/FingerRing/product-image-10.jpg"
                                alt="product image">
                        </div>
                        <ul class="tm-product-actions">
                            <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                            <li><button data-fancybox data-src="#tm-product-quickview"><i
                                        class="ion-eye"></i></button></li>
                            <li><a href="#"><i class="ion-heart"></i></a></li>
                        </ul>
                        <div class="tm-product-badges">
                            <span class="tm-product-badges-new">New</span>
                            <span class="tm-product-badges-sale">Sale</span>
                        </div>
                    </div>
                    <div class="tm-product-bottomside">
                        <h6 class="tm-product-title"><a href="product-details.html"> Rose Gold Finger Ring -
                                FRPDGEN22373 </a></h6>
                        <div class="tm-ratingbox">
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span><i class="ion-android-star-outline"></i></span>
                        </div>
                        <span class="tm-product-price">$29.99</span>
                        <div class="tm-product-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem
                                Ipsum has been the industry's standard dummy text ever since the
                                when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting.</p>
                            <ul class="tm-product-actions">
                                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                                <li><button data-fancybox data-src="#tm-product-quickview"><i
                                            class="ion-eye"></i></button></li>
                                <li><a href="#"><i class="ion-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- product 2 -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tm-product tm-scrollanim">
                    <div class="tm-product-topside">
                        <div class="tm-product-images">
                            <img src="assets/images/products/product-image-3.jpg" alt="product image">
                        </div>
                        <ul class="tm-product-actions">
                            <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                            <li><button data-fancybox data-src="#tm-product-quickview"><i
                                        class="ion-eye"></i></button></li>
                            <li><a href="#"><i class="ion-heart"></i></a></li>
                        </ul>
                        <div class="tm-product-badges">
                            <span class="tm-product-badges-sale">Sale</span>
                        </div>
                    </div>
                    <div class="tm-product-bottomside">
                        <h6 class="tm-product-title"><a href="product-details.html">Stylist daimond
                                earring</a></h6>
                        <div class="tm-ratingbox">
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span><i class="ion-android-star-outline"></i></span>
                        </div>
                        <span class="tm-product-price">$29.99</span>
                        <div class="tm-product-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem
                                Ipsum has been the industry's standard dummy text ever since the
                                when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting.</p>
                            <ul class="tm-product-actions">
                                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                                <li><button data-fancybox data-src="#tm-product-quickview"><i
                                            class="ion-eye"></i></button></li>
                                <li><a href="#"><i class="ion-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- product 3 -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tm-product tm-scrollanim">
                    <div class="tm-product-topside">
                        <div class="tm-product-images">
                            <img src="assets/images/products/FingerRing/product-image-10.jpg" alt="product image">
                            <img src="assets/images/products/product-image-5.jpg" alt="product image">
                        </div>
                        <ul class="tm-product-actions">
                            <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                            <li><button data-fancybox data-src="#tm-product-quickview"><i
                                        class="ion-eye"></i></button></li>
                            <li><a href="#"><i class="ion-heart"></i></a></li>
                        </ul>
                        <div class="tm-product-badges">
                            <span class="tm-product-badges-soldout">Sold out</span>
                        </div>
                    </div>
                    <div class="tm-product-bottomside">
                        <h6 class="tm-product-title"><a href="product-details.html">Stylist daimond
                                earring</a></h6>
                        <div class="tm-ratingbox">
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span><i class="ion-android-star-outline"></i></span>
                        </div>
                        <span class="tm-product-price">$29.99</span>
                        <div class="tm-product-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem
                                Ipsum has been the industry's standard dummy text ever since the
                                when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting.</p>
                            <ul class="tm-product-actions">
                                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                                <li><button data-fancybox data-src="#tm-product-quickview"><i
                                            class="ion-eye"></i></button></li>
                                <li><a href="#"><i class="ion-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- product 4 -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tm-product tm-scrollanim">
                    <div class="tm-product-topside">
                        <div class="tm-product-images">
                            <img src="assets/images/products/product-image-6.jpg" alt="product image">
                        </div>
                        <ul class="tm-product-actions">
                            <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                            <li><button data-fancybox data-src="#tm-product-quickview"><i
                                        class="ion-eye"></i></button></li>
                            <li><a href="#"><i class="ion-heart"></i></a></li>
                        </ul>
                        <div class="tm-product-badges">
                            <span class="tm-product-badges-new">New</span>
                        </div>
                    </div>
                    <div class="tm-product-bottomside">
                        <h6 class="tm-product-title"><a href="product-details.html">Stylist daimond
                                earring</a></h6>
                        <div class="tm-ratingbox">
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span><i class="ion-android-star-outline"></i></span>
                        </div>
                        <span class="tm-product-price">$29.99</span>
                        <div class="tm-product-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem
                                Ipsum has been the industry's standard dummy text ever since the
                                when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting.</p>
                            <ul class="tm-product-actions">
                                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                                <li><button data-fancybox data-src="#tm-product-quickview"><i
                                            class="ion-eye"></i></button></li>
                                <li><a href="#"><i class="ion-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- product 5 -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tm-product tm-scrollanim">
                    <div class="tm-product-topside">
                        <div class="tm-product-images">
                            <img src="assets/images/products/product-image-7.jpg" alt="product image">
                            <img src="assets/images/products/product-image-8.jpg" alt="product image">
                        </div>
                        <ul class="tm-product-actions">
                            <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                            <li><button data-fancybox data-src="#tm-product-quickview"><i
                                        class="ion-eye"></i></button></li>
                            <li><a href="#"><i class="ion-heart"></i></a></li>
                        </ul>
                        <div class="tm-product-badges">
                            <span class="tm-product-badges-new">New</span>
                            <span class="tm-product-badges-sale">Sale</span>
                        </div>
                    </div>
                    <div class="tm-product-bottomside">
                        <h6 class="tm-product-title"><a href="product-details.html">Stylist daimond
                                earring</a></h6>
                        <div class="tm-ratingbox">
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span><i class="ion-android-star-outline"></i></span>
                        </div>
                        <span class="tm-product-price">$29.99</span>
                        <div class="tm-product-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem
                                Ipsum has been the industry's standard dummy text ever since the
                                when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting.</p>
                            <ul class="tm-product-actions">
                                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                                <li><button data-fancybox data-src="#tm-product-quickview"><i
                                            class="ion-eye"></i></button></li>
                                <li><a href="#"><i class="ion-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- product 6 -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tm-product tm-scrollanim">
                    <div class="tm-product-topside">
                        <div class="tm-product-images">
                            <img src="assets/images/products/product-image-9.jpg" alt="product image">
                        </div>
                        <ul class="tm-product-actions">
                            <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                            <li><button data-fancybox data-src="#tm-product-quickview"><i
                                        class="ion-eye"></i></button></li>
                            <li><a href="#"><i class="ion-heart"></i></a></li>
                        </ul>
                        <div class="tm-product-badges">
                            <span class="tm-product-badges-sale">Sale</span>
                        </div>
                    </div>
                    <div class="tm-product-bottomside">
                        <h6 class="tm-product-title"><a href="product-details.html">Stylist daimond
                                earring</a></h6>
                        <div class="tm-ratingbox">
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span><i class="ion-android-star-outline"></i></span>
                        </div>
                        <span class="tm-product-price">$29.99</span>
                        <div class="tm-product-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem
                                Ipsum has been the industry's standard dummy text ever since the
                                when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting.</p>
                            <ul class="tm-product-actions">
                                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                                <li><button data-fancybox data-src="#tm-product-quickview"><i
                                            class="ion-eye"></i></button></li>
                                <li><a href="#"><i class="ion-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- product 7 -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tm-product tm-scrollanim">
                    <div class="tm-product-topside">
                        <div class="tm-product-images">
                            <img src="assets/images/products/product-image-10.jpg" alt="product image">
                            <img src="assets/images/products/product-image-1.jpg" alt="product image">
                        </div>
                        <ul class="tm-product-actions">
                            <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                            <li><button data-fancybox data-src="#tm-product-quickview"><i
                                        class="ion-eye"></i></button></li>
                            <li><a href="#"><i class="ion-heart"></i></a></li>
                        </ul>
                        <div class="tm-product-badges">
                            <span class="tm-product-badges-soldout">Sold out</span>
                        </div>
                    </div>
                    <div class="tm-product-bottomside">
                        <h6 class="tm-product-title"><a href="product-details.html">Stylist daimond
                                earring</a></h6>
                        <div class="tm-ratingbox">
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span><i class="ion-android-star-outline"></i></span>
                        </div>
                        <span class="tm-product-price">$29.99</span>
                        <div class="tm-product-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem
                                Ipsum has been the industry's standard dummy text ever since the
                                when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting.</p>
                            <ul class="tm-product-actions">
                                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                                <li><button data-fancybox data-src="#tm-product-quickview"><i
                                            class="ion-eye"></i></button></li>
                                <li><a href="#"><i class="ion-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- product 8 -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="tm-product tm-scrollanim">
                    <div class="tm-product-topside">
                        <div class="tm-product-images">
                            <img src="assets/images/products/product-image-12.jpg" alt="product image">
                        </div>
                        <ul class="tm-product-actions">
                            <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                            <li><button data-fancybox data-src="#tm-product-quickview"><i
                                        class="ion-eye"></i></button></li>
                            <li><a href="#"><i class="ion-heart"></i></a></li>
                        </ul>
                        <div class="tm-product-badges">
                            <span class="tm-product-badges-new">New</span>
                        </div>
                    </div>
                    <div class="tm-product-bottomside">
                        <h6 class="tm-product-title"><a href="product-details.html">Stylist daimond
                                earring</a></h6>
                        <div class="tm-ratingbox">
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span class="is-active"><i class="ion-android-star-outline"></i></span>
                            <span><i class="ion-android-star-outline"></i></span>
                        </div>
                        <span class="tm-product-price">$29.99</span>
                        <div class="tm-product-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem
                                Ipsum has been the industry's standard dummy text ever since the
                                when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. It has survived not only five centuries, but also the
                                leap into electronic typesetting.</p>
                            <ul class="tm-product-actions">
                                <li><a href="#"><i class="ion-android-cart"></i> Add to cart</a></li>
                                <li><button data-fancybox data-src="#tm-product-quickview"><i
                                            class="ion-eye"></i></button></li>
                                <li><a href="#"><i class="ion-heart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product 8 ends -->
            
        </div>
    </div>
</div>
<!-- popular products area ends -->