<!-- services area starts -->
<div class="tm-section tm-feature-area bg-grey">
    <div class="container">
        <div class="row mt-30-reverse">
            <div class="col-lg-4 mt-30">
                <div class="tm-feature">
                    <span class="tm-feature-icon">
                        <img data-pagespeed-lazy-src="assets/images/icons/icon-free-shipping.png" alt="free shipping"
                            src="assets/images/icons/icon-free-shipping.png"
                            onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                            onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </span>
                    <div class="tm-feature-content">
                        <h6>Free Shipping</h6>
                        <p>We provide free shipping for all order over ₹100000.00</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-30">
                <div class="tm-feature">
                    <span class="tm-feature-icon">
                        <img data-pagespeed-lazy-src="assets/images/icons/icon-fast-delivery.png" alt="fast delivery"
                            src="assets/images/icons/icon-fast-delivery.png"
                            onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                            onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </span>
                    <div class="tm-feature-content">
                        <h6>Fast Delivery</h6>
                        <p>We always deliver our customers very quickly.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-30">
                <div class="tm-feature">
                    <span class="tm-feature-icon">
                        <img data-pagespeed-lazy-src="assets/images/icons/icon-247-support.png" alt="24/7 Support"
                            src="assets/images/icons/icon-247-support.png"
                            onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                            onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </span>
                    <div class="tm-feature-content">
                        <h6>24/7 Support</h6>
                        <p>We provide support to our customers within 24 hours. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- services area ends -->

<!-- top banner section starts -->
<div class="tm-heroslider-area bg-grey">
    <div class="tm-heroslider-slider">
        <div class="tm-heroslider" data-bgimage="assets/images/banners/heoslider-image-1.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-8 col-12">
                        <div class="tm-heroslider-contentwrapper">
                            <div class="tm-heroslider-content">
                                <h1>We Gifts You <br> The Glitz</h1>
                                <p>Jewellery can be made from a wide variety of materials, including precious metals, stones, and even natural elements. It has been designed to adorn almost every part of the body, from delicate hairpins to intricate toe rings, highlighting beauty and craftsmanship in every form.</p>
                                <a href="/shopping" class="tm-button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-heroslider" data-bgimage="assets/images/banners/heoslider-image-6.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-4">
                    </div>
                    <div class="col-lg-7 col-md-8 col-12">
                        <div class="tm-heroslider-contentwrapper">
                            <div class="tm-heroslider-content text-right">
                                <h1>Celebrate the Bridal Fest with Exquisite Jewelry</h1>
                                <p>Make your special day unforgettable with our stunning bridal collection. Crafted with precision, these ornaments balance elegance and tradition. Designed to enhance your bridal glow, each piece adds sophistication and grace, ensuring you shine. Discover timeless beauty with our exquisite designs, made to make every bride feel extraordinary.</p>
                                <a href="/shopping" class="tm-button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-heroslider" data-bgimage="assets/images/banners/heoslider-image-7.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-8 col-12">
                        <div class="tm-heroslider-contentwrapper">
                            <div class="tm-heroslider-content">
                                <h1> <br><br></h1>
                                <p> <br><br><br><br><br> </p>
                                <a href="/shopping" class="tm-button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-heroslider" data-bgimage="assets/images/banners/heoslider-image-5.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-8 col-12">
                        <div class="tm-heroslider-contentwrapper">
                            <div class="tm-heroslider-content">
                                <h1>Because You Deserve to Sparkle Every Day</h1>
                                <p>Jewellery can be crafted from a range of materials, including precious metals and gemstones. It has historically adorned nearly every part of the body, from elegant hairpins to intricate toe rings, reflecting personal style and cultural heritage. Each piece tells a unique story, blending beauty with tradition.</p>
                                <a href="/shopping" class="tm-button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-heroslider" data-bgimage="assets/images/banners/heoslider-image-4.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-8 col-12">
                        <div class="tm-heroslider-contentwrapper">
                            <div class="tm-heroslider-content">
                                <h1>10% Discount on Diamonds Ornaments</h1>
                                <p>Jewellery can be crafted from a range of materials, including precious metals and gemstones. It has historically adorned nearly every part of the body, from elegant hairpins to intricate toe rings, reflecting personal style and cultural heritage. Each piece tells a unique story, blending beauty with tradition.</p>
                                <a href="/shopping" class="tm-button">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top banner section ends -->