<!-- bottom banner area starts             -->
<div class="tm-section tm-banners-area">
    <div class="container">
        <div class="row mt-30-reverse">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-30">
                <a href="#" class="tm-banner tm-scrollanim">
                    <img data-pagespeed-lazy-src="assets/images/banners/small-banner1-modern-designs.webp" alt="banner image"
                        src="assets/images/banners/small-banner1-modern-designs.webp"
                        onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                        onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-30">
                <a href="#" class="tm-banner tm-scrollanim">
                    <img data-pagespeed-lazy-src="assets/images/banners/small-banner3-trending-earrings.webp" alt="banner image"
                        src="assets/images/banners/small-banner3-trending-earrings.webp"
                        onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                        onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-30">
                <a href="#" class="tm-banner tm-scrollanim">
                    <img data-pagespeed-lazy-src="assets/images/banners/small-banner2-pretty-in-pink-new.jpg" alt="banner image"
                        src="assets/images/banners/small-banner2-pretty-in-pink-new.jpg"
                        onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                        onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- bottom banner area ends             -->