<body>

<!-- footer section starts -->
<div class="tm-footer">
    <ul id="instafeed" class="tm-instaphotos"></ul>
    <div class="tm-footer-toparea tm-padding-section">
        <div class="container">
            <div class="widgets widgets-footer row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-info">
                        <a class="widget-info-logo" href="/"><img src="assets/images/logos/Glitz Logo Small 2.jpg" alt="logo"></a>
                        <p class="text-center" style="color: #9a0056;">"Gifts You The Glitz"</p>
                        <ul>
                            <li><b>Address :</b>2726 Avenue Papineau Montreal, QC, Canada</li>
                            <li><b>Phone :</b><a href="tel:+919633699766">+919-633-699-766</a></li>
                            <li><b>Email :</b><a href="mailto:itsmesajeer@gmail.com">itsmesajeer@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-quicklinks">
                        <h6 class="widget-title">Useful Link</h6>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Delivery Info</a></li>
                            <li><a href="#">Privacy & Policy</a></li>
                            <li><a href="#">Returns & Refunds</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-quicklinks">
                        <h6 class="widget-title">My Account</h6>
                        <ul>
                            <% if(userData){ %>
                            <li><a href="/my-account">My account</a></li>
                            <li><a href="/cart#account">Cart</a></li>
                            <li><a href="/wishlist#account">Wishlist</a></li>
                            <li><a href="/orders#account">Orders</a></li>
                            <li><a href="/coupons#account">Coupons</a></li>
                            <li><a href="/wallet#account">Wallet</a></li>
                            <li><a href="#">Check out</a></li>
                            <% } %>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="#">Frequently Questions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-newsletter">
                        <h6 class="widget-title">Join Our Newsletter</h6>
                        <p>Get Business news, tip and solutions to
                            your problems from our experts.</p>
                        <form id="tm-mailchimp-form" class="widget-newsletter-form">
                            <input id="mc-email" type="text" placeholder="Enter email address">
                            <button id="mc-submit" type="submit" class="tm-button">Subscribe Now
                                <b></b></button>
                        </form>
                        <div class="tm-mailchimp-alerts">
                            <div class="tm-mailchimp-submitting"></div>
                            <div class="mailchimp-success"></div>
                            <div class="tm-mailchimp-error"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-footer-bottomarea">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <p class="tm-footer-copyright">©
                        2019. Designed by <a href="https://thememarch.com/">ThemeMarch</a></p>
                </div>
                <div class="col-md-5">
                    <div class="tm-footer-payment">
                        <img data-pagespeed-lazy-src="assets/images/icons/payment-methods.png" alt="payment methods"
                            src="assets/images/icons/payment-methods.png"
                            onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                            onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Keep the below codes after footer. It was kept in original html file. (why should I keep this ? I dont know) -->

<!-- <div class="tm-product-quickview" id="tm-product-quickview">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10 col-12">
                <div class="tm-product-quickview-inner">
                    <div class="tm-prodetails">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-10 col-12">
                                <div class="tm-prodetails-images">
                                    <div class="tm-prodetails-largeimages">
                                        <div class="tm-prodetails-largeimage">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-1.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                        <div class="tm-prodetails-largeimage">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-2.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                        <div class="tm-prodetails-largeimage">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-3.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                        <div class="tm-prodetails-largeimage">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-4.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                        <div class="tm-prodetails-largeimage">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-6.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                        <div class="tm-prodetails-largeimage">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-6.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                    </div>
                                    <div class="tm-prodetails-thumbnails">
                                        <div class="tm-prodetails-thumbnail">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-1-thumb.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                        <div class="tm-prodetails-thumbnail">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-2-thumb.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                        <div class="tm-prodetails-thumbnail">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-3-thumb.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                        <div class="tm-prodetails-thumbnail">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-4-thumb.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                        <div class="tm-prodetails-thumbnail">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-5-thumb.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                        <div class="tm-prodetails-thumbnail">
                                            <img data-pagespeed-lazy-src="assets/images/products/product-image-6-thumb.jpg"
                                                alt="product image" src="../../../../pagespeed_static/1.JiBnMqyl6S.gif"
                                                onload="pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);"
                                                onerror="this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="tm-prodetails-content">
                                    <h4 class="tm-prodetails-title">Stylist daimond ring</h4>
                                    <span class="tm-prodetails-price"><del>$75.99</del> $59.99</span>
                                    <div class="tm-ratingbox">
                                        <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                        <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                        <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                        <span class="is-active"><i class="ion-android-star-outline"></i></span>
                                        <span><i class="ion-android-star-outline"></i></span>
                                    </div>
                                    <div class="tm-prodetails-infos">
                                        <div class="tm-prodetails-singleinfo">
                                            <b>Product ID : </b>010
                                        </div>
                                        <div class="tm-prodetails-singleinfo">
                                            <b>Category : </b><a href="#">Ring</a>
                                        </div>
                                        <div class="tm-prodetails-singleinfo tm-prodetails-tags">
                                            <b>Tags : </b>
                                            <ul>
                                                <li><a href="#">bracelets</a></li>
                                                <li><a href="#">diamond</a></li>
                                                <li><a href="#">ring</a></li>
                                                <li><a href="#">necklaces</a></li>
                                            </ul>
                                        </div>
                                        <div class="tm-prodetails-singleinfo">
                                            <b>Available : </b>
                                            <span class="color-theme">In Stock</span>
                                        </div>
                                        <div class="tm-prodetails-singleinfo tm-prodetails-share">
                                            <b>Share : </b>
                                            <ul>
                                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a>
                                                </li>
                                                <li><a href="#"><i class="ion-social-skype-outline"></i></a>
                                                </li>
                                                <li><a href="#"><i class="ion-social-pinterest-outline"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis quemi
                                        dolor, malesuada id metus a, mattis eleifend elit. Nullam pharetra
                                        consequat ex in dapibus. Vestibulum ante ipsum primis in faucibus
                                        orciluctus curae.</p>
                                    <div class="tm-prodetails-quantitycart">
                                        <h6>Quantity :</h6>
                                        <div class="tm-quantitybox">
                                            <input type="text" value="1">
                                        </div>
                                        <a href="#" class="tm-button tm-button-dark">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->





<a href="#"> <button id="back-top-top"><i class="ion-arrow-up-c"></i></button> </a>
</div>


<script type="text/javascript" data-pagespeed-no-defer>pagespeed.lazyLoadImages.overrideAttributeFunctions();</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="assets/js/vendors/plugins.min.js"></script>
<script src="assets/js/main.js"></script>


</body>

<!-- Mirrored from thememarch.com/demo/html/surose/surose/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Mar 2024 11:00:41 GMT -->

</html>