<%- include('../layouts/userLayouts/user-header.ejs') %>

<%- include('../layouts/userLayouts/user-preloader.ejs') %>

<%- include('../layouts/userLayouts/user-navbar.ejs') %>


<div id="wrapper" class="wrapper">

    <!-- Breadcrumbs area starts -->
    <div class="tm-breadcrumb-area tm-padding-section bg-grey" data-bgimage="assets/images/breadcrumb-bg.jpg">
        <div class="container">
            <div class="tm-breadcrumb">
                <h2 style="color: black;">My Wishlist</h2>
                <ul>
                    <li><a href="/" style="color: black;">Home</a></li>
                    <li><a href="#" style="color: black;">My Account</a></li>
                    <li style="color: black;"> Wishlist </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs area ends -->

    <main class="page-content">
        <div class="tm-section tm-my-account-area bg-white tm-padding-section">
            <div class="container">
                <div class="tm-myaccount">
                    <!-- account tabs starts -->
                    <ul class="nav tm-tabgroup" id="account" role="tablist">
                        <!-- tab 1: dashboard -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-dashboard-tab" href="/my-account" 
                                role="tab" aria-controls="account-dashboard" aria-selected="true">Dashboard
                            </a>
                        </li>

                        <!-- tab 2: profile information-->
                        <li class="nav-item">
                            <a class="nav-link" id="account-acdetails-tab" href="/profile"
                                role="tab" aria-controls="account-acdetails" aria-selected="true">Profile
                            </a>
                        </li>

                        <!-- tab 3: wishlist -->
                        <li class="nav-item">
                            <a class="nav-link active" id="account-wishlist-tab" href="/wishlist"
                                role="tab" aria-controls="account-wishlist" aria-selected="true">Wishlist
                            </a>
                        </li>

                        <!-- Tab 4: My Cart -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-cart-tab" href="/cart"
                                role="tab" aria-controls="account-cart" aria-selected="false">Cart
                            </a>
                        </li>

                        <!-- tab 5: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-orders-tab" href="/orders"
                                role="tab" aria-controls="account-orders" aria-selected="false">Orders
                            </a>
                        </li>

                        <!-- tab 6: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-address-tab" href="address"
                                role="tab" aria-controls="account-address" aria-selected="false">Address
                            </a>
                        </li>

                        <!-- tab 8: -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-logout-tab" href="/logout" 
                                role="tab" aria-controls="account-address" aria-selected="false">Logout
                            </a>
                        </li>
                    </ul>
                    <!-- account tabs ends -->
                    
                    <!-- account tab-content starts -->
                    <!-- Section 3: My Wishlist -->
                    <h4>My Wishlists</h4>
                    <!-- FROM MY ACCOUNT HTML
                    <div class="tab-content" id="account-ontent">
                        <div class="tab-pane fade show active" id="account-wishlist" role="tabpanel" aria-labelledby="account-wishlist-tab">
                            <div class="tm-myaccount-wishlist">
                                <div class="table-responsive">
                                    <table class="table table-bordered mb-0">
                                        <thead>
                                            <tr>
                                                <th class="tm-myaccount-wishlist-col-image">IMAGE</th>
                                                <th class="tm-myaccount-wishlist-col-product">PRODUCT</th>
                                                <th class="tm-myaccount-wishlist-col-price">PRICE</th>
                                                <th class="tm-myaccount-wishlist-col-add-to-cart">ADD TO CART</th>
                                                <th class="tm-myaccount-wishlist-col-remove">REMOVE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><img src="path/to/product/image1.jpg" alt="Product Image 1"></td>
                                                <td>Product 1</td>
                                                <td>$50.00</td>
                                                <td>
                                                    <button class="tm-button tm-button-small">Add to Cart</button>
                                                </td>
                                                <td>
                                                    <button class="tm-button tm-button-small">Remove</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><img src="path/to/product/image2.jpg" alt="Product Image 2"></td>
                                                <td>Product 2</td>
                                                <td>$70.00</td>
                                                <td>
                                                    <button class="tm-button tm-button-small">Add to Cart</button>
                                                </td>
                                                <td>
                                                    <button class="tm-button tm-button-small">Remove</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- account tab-content ends -->

                    <div>
                        <div class="tm-wishlist-table table-responsive">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th class="tm-wishlist-col-image" scope="col">Image</th>
                                        <th class="tm-wishlist-col-productname" scope="col">Product</th>
                                        <th class="tm-wishlist-col-price" scope="col">Price</th>
                                        <!-- <th class="tm-wishlist-col-quantity" scope="col">Quantity</th> -->
                                        <th class="tm-wishlist-col-addcart" scope="col">Add to Cart</th>
                                        <th class="tm-wishlist-col-remove" scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="product-details.html" class="tm-wishlist-productimage">
                                                <img src="assets/images/products/product-image-1-thumb.jpg" alt="product image">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="product-details.html" class="tm-cart-productname">Stylist daimond earring</a>
                                        </td>
                                        <td class="tm-wishlist-price">$75.00</td>
                                        <td>
                                            <button class="tm-button tm-button-small">Add to Cart</button>
                                            <!-- <button class="tm-button tm-button-small">Remove</button> -->
                                        </td>
                                        <td>
                                            <!-- <button class="tm-button tm-button-small">Remove</button> -->
                                            <button> <img src="/assets/images/icons/remove1.png" style="width: 25px; height: auto;" alt="remove-icon"> </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="product-details.html" class="tm-wishlist-productimage">
                                                <img src="assets/images/products/product-image-2-thumb.jpg" alt="product image">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="product-details.html" class="tm-wishlist-productname">Stylist daimond earring</a>
                                        </td>
                                        <td class="tm-wishlist-price">$75.00</td>
                                        <td>
                                            <button class="tm-button tm-button-small">Add to Cart</button>
                                            <!-- <button class="tm-button tm-button-small">Remove</button> -->
                                        </td>
                                        <td>
                                            <!-- <button class="tm-button tm-button-small">Remove</button> -->
                                            <button> <img src="/assets/images/icons/remove1.png" style="width: 25px; height: auto;" alt="remove-icon"> </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="product-details.html" class="tm-wishlist-productimage">
                                                <img src="assets/images/products/product-image-3-thumb.jpg" alt="product image">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="product-details.html" class="tm-wishlist-productname">Stylist daimond earring</a>
                                        </td>
                                        <td class="tm-wishlist-price">$78.00</td>
                                        <td>
                                            <a href="#" class="tm-button tm-button-small">Add to Cart</a>
                                        </td>
                                        <td>
                                            <!-- <button class="tm-wishlist-removeproduct"><i class="ion-close"></i></button> -->
                                            <button> <img src="/assets/images/icons/remove1.png" style="width: 25px; height: auto;" alt="remove-icon"> </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <button id="back-top-top"><i class="ion-arrow-up-c"></i></button>
</div>

<%- include('../layouts/userLayouts/user-footer.ejs') %>